openapi: 3.0.0
info:
  title: Albert Heijn
  version: 1.0.0
servers:
  - url: https://api.ah.nl
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
security:
  - bearerAuth: []
tags:
  - name: Airmiles
    description: The Dutch one - airmiles.nl
  - name: Authentication
    description: '"Do you know who I am?"'
  - name: Bonus
    description: API calls that relate to 'Bonus' discounts
  - name: Bonus > Bonusbox
  - name: Receipts
    description: Information about previous visits
  - name: Premium membership
    description: AH Premium membership related calls
  - name: Purchase stamps
    description: Information about purchase stamps program (koopzegels)
  - name: Stamps
    description: Information about loyalty programs
  - name: AH to go
    description: AH To Go (often seen at train stations) have their own loyalty program
  - name: Shoppinglist
    description: Do CRUD operations on your shopping list
paths:
  /mobile-services/stamps/v1/airmiles/balances:
    get:
      tags:
        - Airmiles
      summary: Get Airmiles balance
      description: Retrieve your Airmiles balance
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
            Vary:
              schema:
                type: string
                example: Access-Control-Request-Headers
            X-Content-Type-Options:
              schema:
                type: string
                example: nosniff
            X-XSS-Protection:
              schema:
                type: string
                example: 1; mode=block
            X-Frame-Options:
              schema:
                type: string
                example: DENY
            X-Correlation-Id:
              schema:
                type: string
                example: dbe91d75-26f7-47de-af02-7c3114638f04
            Content-Length:
              schema:
                type: integer
                example: '70'
            Expires:
              schema:
                type: string
                example: Sat, 09 Jul 2022 19:08:47 GMT
            Cache-Control:
              schema:
                type: string
                example: max-age=0, no-cache, no-store
            Pragma:
              schema:
                type: string
                example: no-cache
            Date:
              schema:
                type: string
                example: Sat, 09 Jul 2022 19:08:47 GMT
            Connection:
              schema:
                type: string
                example: keep-alive
            Strict-Transport-Security:
              schema:
                type: string
                example: max-age=31536000 ; includeSubDomains
            Set-Cookie:
              schema:
                type: string
                example: >-
                  bm_sv=D666C07601F4F3122B675A515050EDA6~YAAQlvBuaGXxysaBAQAAsEhd5BCEAwBcozGaUQf9s6E2UbKJigODbul+puoaKXHsxKGD4IKUzNPXlYf5XvjF2OEvnPvuDlYBjpoa2c4Ok3v9fISZFCMMzTSlEoMoeIXCV71s4QK7uklDmOnljjl9jpqephXVouxbo7eIfEyFIS6mDoYuI9eLMQty7gN7yReVqiPSmA7K0tVJU5KLiauYKA3KCg/xKYoScCNF6EHtBBaJDbBVUGECHjWAOylyYz1a~1;
                  Domain=.api.ah.nl; Path=/; Expires=Sat, 09 Jul 2022 19:45:08
                  GMT; Max-Age=2181; Secure
          content:
            application/json:
              schema:
                type: object
              example:
                campaignId: 1000002
                balance: 123
                url: https://mijnahmiles.ah.nl
        '404':
          description: Not Found
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
            Vary:
              schema:
                type: string
                example: Access-Control-Request-Headers
            X-Content-Type-Options:
              schema:
                type: string
                example: nosniff
            X-XSS-Protection:
              schema:
                type: string
                example: 1; mode=block
            X-Frame-Options:
              schema:
                type: string
                example: DENY
            X-Correlation-Id:
              schema:
                type: string
                example: 3ef99755-dbbd-473b-94ed-dd3aed550df6
            Content-Length:
              schema:
                type: integer
                example: '162'
            Expires:
              schema:
                type: string
                example: Sat, 09 Jul 2022 19:08:13 GMT
            Cache-Control:
              schema:
                type: string
                example: max-age=0, no-cache, no-store
            Pragma:
              schema:
                type: string
                example: no-cache
            Date:
              schema:
                type: string
                example: Sat, 09 Jul 2022 19:08:13 GMT
            Connection:
              schema:
                type: string
                example: keep-alive
            Set-Cookie:
              schema:
                type: string
                example: >-
                  bm_sv=D666C07601F4F3122B675A515050EDA6~YAAQlvBuaDHtysaBAQAA2MFc5BDGlXxsAgDvsoW9UW9XHoXvDTnMj+HnbA+CmnfwZh4ATnwE5J0L/ABOCdY6Co3UH+Lb5+R44VjWfF7eJj2Qouhw/aUjXbJPNCJn2P/AKxpp/RLH8IQ+YDfkBTv7MpgDZRuVBxBb+8nL+Ye4vXl34g9MEtLqZqbBj5uxkoU+EjxWkNcFOBM4940sOzUXNOXyfRnqbCtVekXGx4/ubRaIWAlJN0SKioW22xex+aJw~1;
                  Domain=.api.ah.nl; Path=/; Expires=Sat, 09 Jul 2022 19:45:08
                  GMT; Max-Age=2215; Secure
            Strict-Transport-Security:
              schema:
                type: string
                example: max-age=31536000 ; includeSubDomains
          content:
            application/json:
              schema:
                type: object
              example:
                status: 404
                message: Member does not have an Air Miles card
                correlationId: 3ef99755-dbbd-473b-94ed-dd3aed550df6
                timestamp: '2022-07-09T19:08:13.138300Z'
  /mobile-auth/v1/auth/token/refresh:
    post:
      tags:
        - Authentication
      summary: Refresh token
      description: >-
        Retrieve the initial refresh token with a MiTM session on your phone,
        Android emulator or other means.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                refreshToken: '{refresh_token}'
                clientId: appie
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /mobile-services/bonuspage/v1/choose-and-activate:
    get:
      tags:
        - Bonus > Bonusbox
      summary: Bonusbox
      description: Retrieve bonusbox offers for given date.
      parameters:
        - name: bonusStartDate
          in: query
          schema:
            type: string
          description: Date should be a Monday
          example: '2022-07-04'
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
            Vary:
              schema:
                type: string
                example: Accept-Encoding
            X-Content-Type-Options:
              schema:
                type: string
                example: nosniff
            X-XSS-Protection:
              schema:
                type: string
                example: 1; mode=block
            X-Frame-Options:
              schema:
                type: string
                example: DENY
            X-Correlation-Id:
              schema:
                type: string
                example: a1fc7a59-2104-4b3f-bc49-cb86848c903e
            Content-Encoding:
              schema:
                type: string
                example: gzip
            Expires:
              schema:
                type: string
                example: Sat, 09 Jul 2022 18:38:57 GMT
            Cache-Control:
              schema:
                type: string
                example: max-age=0, no-cache, no-store
            Pragma:
              schema:
                type: string
                example: no-cache
            Date:
              schema:
                type: string
                example: Sat, 09 Jul 2022 18:38:57 GMT
            Content-Length:
              schema:
                type: integer
                example: '3039'
            Strict-Transport-Security:
              schema:
                type: string
                example: max-age=31536000 ; includeSubDomains
            Set-Cookie:
              schema:
                type: string
                example: >-
                  bm_sv=D666C07601F4F3122B675A515050EDA6~YAAQlvBuaCP2yMaBAQAAd/dB5BBWLrhMeuAoomJg7JH9L7kbnUIFXN/m8aw4iT5rSQiwx5yoyYEqdMO7sS9x1h9xTLmvxnR+/eJWZXUTv7TmaDxsZvTS9O5Y/D/0sirezU1g4iwqbUW0mFHU4Bs5YBv+yc+70rF4PHQS9Qi2o/jM/kQIwkLjeGy4YSOAA2z5Pe2/7GWc7TWrAQG/f2vSOLyAeWiD/eK+89jMb2TMtTDVIS+QTrtS6kHmS52MJR4F~1;
                  Domain=.api.ah.nl; Path=/; Expires=Sat, 09 Jul 2022 19:45:08
                  GMT; Max-Age=3971; Secure
            Connection:
              schema:
                type: string
                example: keep-alive
          content:
            application/json:
              schema:
                type: object
              example:
                sectionType: PO
                sectionDescription: Kies en Activeer Bonus
                bonusGroupOrProducts:
                  - bonusGroup:
                      id: '495107'
                      offerId: 926549
                      offerStartDate: '2022-07-04'
                      segmentId: 495107
                      segmentDescription: Alle Andrélon, Dove, Axe en Rexona
                      bonusStartDate: '2022-07-04'
                      bonusEndDate: '2022-07-10'
                      bonusType: PO
                      promotionType: PERSONAL
                      segmentType: BBOX
                      subtitle: + 2 handdoek spaarzegels
                      discountDescription: 4 VOOR 10.00
                      images:
                        - width: 200
                          height: 200
                          url: >-
                            https://static.ah.nl/mam/bonus/AHMAM_PRD566201?rendition=200px&fileType=binary
                        - width: 708
                          height: 708
                          url: >-
                            https://static.ah.nl/mam/bonus/AHMAM_PRD566201?rendition=708px&fileType=binary
                      category: Drogisterij
                      future: false
                      shopType: AH
                      salesUnitSize: 4 verpakkingen naar keuze
                      exampleFromPrice: 18.36
                      exampleForPrice: 10
                      exampleHasListPrice: false
                      isStapelBonus: false
                      extraDescriptions:
                        - + 2 extra Handdoekzegels
                      activationStatus: ACTIVATED
                  - bonusGroup:
                      id: '335282'
                      offerId: 866463
                      offerStartDate: '2022-07-04'
                      segmentId: 335282
                      segmentDescription: Alle Go-Tan kokosmelk en santen
                      bonusStartDate: '2022-07-04'
                      bonusEndDate: '2022-07-10'
                      bonusType: PO
                      promotionType: PERSONAL
                      segmentType: BBOX
                      discountDescription: 15% KORTING
                      images:
                        - width: 200
                          height: 200
                          url: >-
                            https://static.ah.nl/dam/product/AHI_43545239363539383636?revLabel=1&rendition=200x200_JPG_Q85&fileType=binary
                        - width: 400
                          height: 400
                          url: >-
                            https://static.ah.nl/dam/product/AHI_43545239363539383636?revLabel=1&rendition=400x400_JPG_Q85&fileType=binary
                        - width: 800
                          height: 800
                          url: >-
                            https://static.ah.nl/dam/product/AHI_43545239363539383636?revLabel=1&rendition=800x800_JPG_Q90&fileType=binary
                      category: Extra online aanbiedingen
                      future: false
                      shopType: AH
                      salesUnitSize: Per verpakking
                      exampleFromPrice: 2.19
                      exampleForPrice: 1.86
                      exampleHasListPrice: false
                      isStapelBonus: false
                      extraDescriptions: []
                      activationStatus: ACTIVATED
                  - bonusGroup:
                      id: '482459'
                      offerId: 922071
                      offerStartDate: '2022-07-04'
                      segmentId: 482459
                      segmentDescription: Alle Wasa zuurdesem 210-235 gram
                      bonusStartDate: '2022-07-04'
                      bonusEndDate: '2022-07-10'
                      bonusType: PO
                      promotionType: PERSONAL
                      segmentType: BBOX
                      discountDescription: 2e HALVE PRIJS
                      images:
                        - width: 200
                          height: 200
                          url: >-
                            https://static.ah.nl/dam/product/AHI_43545239353533303939?revLabel=2&rendition=200x200_JPG_Q85&fileType=binary
                        - width: 400
                          height: 400
                          url: >-
                            https://static.ah.nl/dam/product/AHI_43545239353533303939?revLabel=2&rendition=400x400_JPG_Q85&fileType=binary
                        - width: 800
                          height: 800
                          url: >-
                            https://static.ah.nl/dam/product/AHI_43545239353533303939?revLabel=2&rendition=800x800_JPG_Q90&fileType=binary
                      category: Extra online aanbiedingen
                      future: false
                      shopType: AH
                      salesUnitSize: 2 verpakkingen
                      exampleFromPrice: 3.18
                      exampleForPrice: 2.39
                      exampleHasListPrice: false
                      isStapelBonus: false
                      extraDescriptions: []
                      activationStatus: ACTIVATED
                  - bonusGroup:
                      id: '490465'
                      offerId: 925130
                      offerStartDate: '2022-07-04'
                      segmentId: 490465
                      segmentDescription: Alle Bella Napoli
                      bonusStartDate: '2022-07-04'
                      bonusEndDate: '2022-07-10'
                      bonusType: PO
                      promotionType: PERSONAL
                      segmentType: BBOX
                      discountDescription: 2 VOOR 7.00
                      images:
                        - width: 200
                          height: 200
                          url: >-
                            https://static.ah.nl/dam/product/AHI_43545239373231343933?revLabel=3&rendition=200x200_JPG_Q85&fileType=binary
                        - width: 400
                          height: 400
                          url: >-
                            https://static.ah.nl/dam/product/AHI_43545239373231343933?revLabel=3&rendition=400x400_JPG_Q85&fileType=binary
                        - width: 800
                          height: 800
                          url: >-
                            https://static.ah.nl/dam/product/AHI_43545239373231343933?revLabel=3&rendition=800x800_JPG_Q90&fileType=binary
                      category: Extra online aanbiedingen
                      future: false
                      shopType: AH
                      salesUnitSize: 2 verpakkingen
                      exampleFromPrice: 8.58
                      exampleForPrice: 7
                      exampleHasListPrice: false
                      isStapelBonus: false
                      extraDescriptions: []
                      activationStatus: ACTIVATABLE
                  - product:
                      webshopId: 162461
                      hqId: 521355
                      title: AH Biologische sjalotten
                      brand: AH Biologisch
                      isSample: false
                      salesUnitSize: Net 250 gram
                      unitPriceDescription: normale prijs per kg €6.36
                      images:
                        - width: 200
                          height: 200
                          url: >-
                            https://static.ah.nl/dam/product/AHI_434d50313434323630?revLabel=4&rendition=200x200_JPG_Q85&fileType=binary
                        - width: 400
                          height: 400
                          url: >-
                            https://static.ah.nl/dam/product/AHI_434d50313434323630?revLabel=4&rendition=400x400_JPG_Q85&fileType=binary
                        - width: 800
                          height: 800
                          url: >-
                            https://static.ah.nl/dam/product/AHI_434d50313434323630?revLabel=4&rendition=800x800_JPG_Q90&fileType=binary
                      segmentId: '355378'
                      bonusSegmentId: 355378
                      offerId: 885592
                      offerStartDate: '2022-07-04'
                      activationStatus: ACTIVATABLE
                      bonusSegmentDescription: AH Biologische sjalotten
                      extraDescriptions: []
                      discountType: PO
                      promotionType: PERSONAL
                      segmentType: BBOX
                      isInfiniteBonus: false
                      bonusMechanism: 20% KORTING
                      bonusStartDate: '2022-07-04'
                      bonusEndDate: '2022-07-10'
                      priceBeforeBonus: 1.59
                      hasListPrice: false
                      currentPrice: 1.27
                      isBonusPrice: true
                      isStapelBonus: false
                      isBonus: true
                      shopType: AH
                      orderAvailabilityStatus: IN_ASSORTMENT
                      availableOnline: true
                      isOrderable: true
                      mainCategory: Aardappel, groente, fruit
                      subCategory: Sjalotten
                      subCategoryId: 1524
                      propertyIcons:
                        - lokaal
                        - biologisch
                      properties:
                        sp_include_intolerance_geen_melk:
                          - Geen melk
                        sp_include_intolerance_geen_kreeftachtigen:
                          - Geen kreeftachtigen (schaaldieren)
                        sp_include_intolerance_geen_soja:
                          - Geen soja
                        sp_include_intolerance_geen_vis:
                          - Geen vis
                        sp_include_dieet_biologisch:
                          - Biologisch
                        sp_include_intolerance_geen_lupine:
                          - Geen lupine
                        sp_kenmerk:
                          - biologisch
                        sp_include_intolerance_geen_pindas:
                          - Geen pinda's
                        np_lokaal:
                          - nederland
                        sp_include_intolerance_geen_mosterd:
                          - Geen mosterd
                        sp_include_intolerance_geen_lactose:
                          - Geen lactose
                        nutriscore:
                          - A
                        sp_include_intolerance_geen_sulfiet:
                          - Geen sulfiet
                        da_salted_or_not_salted:
                          - Ongezouten
                        sp_include_intolerance_geen_sesam:
                          - Geen sesam
                        sp_include_dieet_laag_vet:
                          - Laag vet
                        sp_include_dieet_laag_zout:
                          - Laag zout
                        np_puureerlij:
                          - puur en eerlijk
                        da_free_of_sugar:
                          - Nee
                        da_store_department:
                          - Near Food
                        sp_include_intolerance_geen_schelpdieren:
                          - Geen schelpdieren (schaaldieren)
                        sp_exclude_dieet_halal:
                          - Halal
                        sp_exclude_dieet_laag_suiker:
                          - Laag suiker
                        sp_include_intolerance_geen_eieren:
                          - Geen eieren
                        sp_include_intolerance_geen_noten:
                          - Geen noten
                        np_vorm:
                          - heel
                        np_biologisch:
                          - biologisch
                        sp_include_intolerance_geen_selderij:
                          - Geen selderij
                        sp_include_intolerance_geen_gluten:
                          - Geen gluten
                      isPreviouslyBought: false
                      nix18: false
                      descriptionHighlights: >-
                        <p>Sjalot heeft een zeer aromatische smaak die fijner is
                        dan de gele ui. Zowel rauw als gebakken een heerlijke
                        smaakmaker bij elk gerecht.</p><p><ul><li>Smaak: De
                        sjalot heeft een zeer aromatische smaak die fijner is
                        dan de gele ui.</li><li>Bewaren: Op een koele donkere
                        plek buiten de koelkast.</li><li>Gezondheid: 100%
                        Biologisch.</li></ul></p>
                      descriptionFull: ''
                  - product:
                      webshopId: 238974
                      hqId: 831606
                      title: AH Tijm 15 gram
                      brand: AH
                      isSample: false
                      salesUnitSize: Verpakking 15 gram
                      unitPriceDescription: normale prijs per kg €79.33
                      images:
                        - width: 200
                          height: 200
                          url: >-
                            https://static.ah.nl/dam/product/AHI_43545239383833393535?revLabel=1&rendition=200x200_JPG_Q85&fileType=binary
                        - width: 400
                          height: 400
                          url: >-
                            https://static.ah.nl/dam/product/AHI_43545239383833393535?revLabel=1&rendition=400x400_JPG_Q85&fileType=binary
                        - width: 800
                          height: 800
                          url: >-
                            https://static.ah.nl/dam/product/AHI_43545239383833393535?revLabel=1&rendition=800x800_JPG_Q90&fileType=binary
                      segmentId: '356972'
                      bonusSegmentId: 356972
                      offerId: 886190
                      offerStartDate: '2022-07-04'
                      activationStatus: ACTIVATABLE
                      bonusSegmentDescription: AH Tijm 15 gram
                      extraDescriptions: []
                      discountType: PO
                      promotionType: PERSONAL
                      segmentType: BBOX
                      isInfiniteBonus: false
                      bonusMechanism: 15% KORTING
                      bonusStartDate: '2022-07-04'
                      bonusEndDate: '2022-07-10'
                      priceBeforeBonus: 1.19
                      hasListPrice: false
                      currentPrice: 1.01
                      isBonusPrice: true
                      isStapelBonus: false
                      isBonus: true
                      shopType: AH
                      orderAvailabilityStatus: IN_ASSORTMENT
                      availableOnline: true
                      isOrderable: true
                      mainCategory: Aardappel, groente, fruit
                      subCategory: Tijm (vers)
                      subCategoryId: 7701
                      propertyIcons:
                        - lokaal
                      properties:
                        sp_include_intolerance_geen_melk:
                          - Geen melk
                        sp_include_intolerance_geen_kreeftachtigen:
                          - Geen kreeftachtigen (schaaldieren)
                        sp_include_intolerance_geen_soja:
                          - Geen soja
                        sp_include_intolerance_geen_vis:
                          - Geen vis
                        sp_include_dieet_laag_suiker:
                          - Laag suiker
                        da_taste:
                          - Tijm
                        sp_include_intolerance_geen_lupine:
                          - Geen lupine
                        sp_include_intolerance_geen_pindas:
                          - Geen pinda's
                        np_lokaal:
                          - nederland
                        sp_include_intolerance_geen_mosterd:
                          - Geen mosterd
                        sp_include_intolerance_geen_lactose:
                          - Geen lactose
                        nutriscore:
                          - A
                        sp_include_intolerance_geen_sulfiet:
                          - Geen sulfiet
                        sp_include_intolerance_geen_sesam:
                          - Geen sesam
                        sp_include_dieet_laag_vet:
                          - Laag vet
                        sp_include_dieet_laag_zout:
                          - Laag zout
                        da_free_of_sugar:
                          - Ja
                        da_store_department:
                          - Vers
                        sp_exclude_dieet_biologisch:
                          - Biologisch
                        sp_include_intolerance_geen_schelpdieren:
                          - Geen schelpdieren (schaaldieren)
                        sp_exclude_dieet_halal:
                          - Halal
                        sp_include_intolerance_geen_eieren:
                          - Geen eieren
                        sp_include_intolerance_geen_noten:
                          - Geen noten
                        da_accreditation:
                          - NATUUR_BOER
                        sp_include_intolerance_geen_selderij:
                          - Geen selderij
                        sp_include_intolerance_geen_gluten:
                          - Geen gluten
                      isPreviouslyBought: false
                      nix18: false
                      descriptionHighlights: >-
                        <p>AH Tijm voor een mediterrane smaak. Heerlijk om toe
                        te voegen aan soepen en sauzen.</p><p><ul><li>Een echte
                        smaakmaker bij aubergines en champignons</li><li>Bewaren
                        thuis: in de koelkast</li><li>Ook lekker in combinatie
                        met o.a. tomaat, komkommer, aubergine en
                        paprika</li></ul></p>
                      descriptionFull: >-
                        <p> Was de takjes tijm. Rits de blaadjes eraf en voeg
                        deze toe tijdens de bereiding van een gerecht.  </p>
                          <p>Tijm is een kruid dat vooral te vinden is in Oost-Azi&#235; en rond het Middellandse Zeegebied. Vanwege de aromatische geur wordt tijm ook in de zeepindustrie gebruikt. Omdat tijm thymol bevat, een stof die goed is voor de luchtwegen, zie je het daarnaast ook wel eens in hoestdrankjes.</p>
                  - bonusGroup:
                      id: '320040'
                      offerId: 856414
                      offerStartDate: '2022-07-04'
                      segmentId: 320040
                      segmentDescription: Fizzy Peachtree
                      bonusStartDate: '2022-07-04'
                      bonusEndDate: '2022-07-10'
                      bonusType: PO
                      promotionType: PERSONAL
                      segmentType: BBOX
                      discountDescription: 20% KORTING
                      images:
                        - width: 200
                          height: 200
                          url: >-
                            https://static.ah.nl/dam/product/AHI_43545239353733363738?revLabel=3&rendition=200x200_JPG_Q85&fileType=binary
                        - width: 400
                          height: 400
                          url: >-
                            https://static.ah.nl/dam/product/AHI_43545239353733363738?revLabel=3&rendition=400x400_JPG_Q85&fileType=binary
                        - width: 800
                          height: 800
                          url: >-
                            https://static.ah.nl/dam/product/AHI_43545239353733363738?revLabel=3&rendition=800x800_JPG_Q90&fileType=binary
                      category: Extra online aanbiedingen
                      future: false
                      shopType: AH
                      salesUnitSize: Blikje 0.25 liter
                      exampleFromPrice: 2.09
                      exampleForPrice: 1.67
                      exampleHasListPrice: false
                      isStapelBonus: false
                      extraDescriptions: []
                      activationStatus: ACTIVATABLE
                  - product:
                      webshopId: 482840
                      hqId: 737551
                      title: AH Excellent primeur aardappelen
                      brand: AH Excellent
                      isSample: false
                      salesUnitSize: Zak 1 kiloZak 1 kilo
                      unitPriceDescription: normale prijs per kg €2.19
                      images:
                        - width: 200
                          height: 200
                          url: >-
                            https://static.ah.nl/dam/product/AHI_43545239363730343031?revLabel=1&rendition=200x200_JPG_Q85&fileType=binary
                        - width: 400
                          height: 400
                          url: >-
                            https://static.ah.nl/dam/product/AHI_43545239363730343031?revLabel=1&rendition=400x400_JPG_Q85&fileType=binary
                        - width: 800
                          height: 800
                          url: >-
                            https://static.ah.nl/dam/product/AHI_43545239363730343031?revLabel=1&rendition=800x800_JPG_Q90&fileType=binary
                      segmentId: '355554'
                      bonusSegmentId: 355554
                      offerId: 885680
                      offerStartDate: '2022-07-04'
                      activationStatus: ACTIVATABLE
                      bonusSegmentDescription: AH Excellent primeur aardappelen
                      extraDescriptions: []
                      discountType: PO
                      promotionType: PERSONAL
                      segmentType: BBOX
                      isInfiniteBonus: false
                      bonusMechanism: 20% KORTING
                      bonusStartDate: '2022-07-04'
                      bonusEndDate: '2022-07-10'
                      priceBeforeBonus: 2.19
                      hasListPrice: false
                      currentPrice: 1.75
                      isBonusPrice: true
                      isStapelBonus: false
                      isBonus: true
                      shopType: AH
                      orderAvailabilityStatus: IN_ASSORTMENT
                      availableOnline: true
                      isOrderable: true
                      mainCategory: Aardappel, groente, fruit
                      subCategory: Primeur aardappel - vastkokend
                      subCategoryId: 5276
                      propertyIcons:
                        - lokaal
                      properties:
                        sp_include_intolerance_geen_melk:
                          - Geen melk
                        sp_include_intolerance_geen_kreeftachtigen:
                          - Geen kreeftachtigen (schaaldieren)
                        sp_include_intolerance_geen_soja:
                          - Geen soja
                        sp_include_intolerance_geen_vis:
                          - Geen vis
                        sp_include_dieet_laag_suiker:
                          - Laag suiker
                        sp_include_intolerance_geen_lupine:
                          - Geen lupine
                        sp_include_intolerance_geen_pindas:
                          - Geen pinda's
                        np_lokaal:
                          - nederland
                        da_a_type_of_preparation_cookware:
                          - Koekenpan
                          - Magnetron
                          - Oven
                          - Pan
                        sp_include_intolerance_geen_mosterd:
                          - Geen mosterd
                        sp_include_intolerance_geen_lactose:
                          - Geen lactose
                        nutriscore:
                          - A
                        sp_include_intolerance_geen_sulfiet:
                          - Geen sulfiet
                        da_salted_or_not_salted:
                          - Ongezouten
                        sp_include_intolerance_geen_sesam:
                          - Geen sesam
                        sp_include_dieet_laag_vet:
                          - Laag vet
                        sp_include_dieet_laag_zout:
                          - Laag zout
                        da_free_of_sugar:
                          - Nee
                        da_store_department:
                          - Vers
                        sp_exclude_dieet_biologisch:
                          - Biologisch
                        sp_include_intolerance_geen_schelpdieren:
                          - Geen schelpdieren (schaaldieren)
                        sp_exclude_dieet_halal:
                          - Halal
                        sp_include_intolerance_geen_eieren:
                          - Geen eieren
                        sp_include_intolerance_geen_noten:
                          - Geen noten
                        da_accreditation:
                          - NATUUR_BOER
                        sp_include_intolerance_geen_selderij:
                          - Geen selderij
                        sp_include_intolerance_geen_gluten:
                          - Geen gluten
                      isPreviouslyBought: false
                      nix18: false
                      descriptionHighlights: >-
                        <p>Nieuwe oogst ditta of nicola aardappel met een dunne,
                        gele schil. Ze zijn lang en ovaal en hebben een romige,
                        iets nootachtige smaak en stevige bite.</p><p><ul><li>Om
                        te koken, te bakken of te gebruiken in
                        ovenschotels</li><li>Bron van vitamine b6 en
                        c</li><li>Bewaar de aardappelen op een koele, donkere en
                        droge plek</li></ul></p>
                      descriptionFull: ''
                  - bonusGroup:
                      id: '325367'
                      offerId: 860209
                      offerStartDate: '2022-07-04'
                      segmentId: 325367
                      segmentDescription: Alle Nocilla
                      bonusStartDate: '2022-07-04'
                      bonusEndDate: '2022-07-10'
                      bonusType: PO
                      promotionType: PERSONAL
                      segmentType: BBOX
                      discountDescription: 2e HALVE PRIJS
                      images:
                        - width: 200
                          height: 200
                          url: >-
                            https://static.ah.nl/dam/product/AHI_43545239363636393036?revLabel=1&rendition=200x200_JPG_Q85&fileType=binary
                        - width: 400
                          height: 400
                          url: >-
                            https://static.ah.nl/dam/product/AHI_43545239363636393036?revLabel=1&rendition=400x400_JPG_Q85&fileType=binary
                        - width: 800
                          height: 800
                          url: >-
                            https://static.ah.nl/dam/product/AHI_43545239363636393036?revLabel=1&rendition=800x800_JPG_Q90&fileType=binary
                      category: Extra online aanbiedingen
                      future: false
                      shopType: AH
                      salesUnitSize: 2 potten naar keuze
                      exampleFromPrice: 5.98
                      exampleForPrice: 4.49
                      exampleHasListPrice: false
                      isStapelBonus: false
                      extraDescriptions: []
                      activationStatus: ACTIVATABLE
                  - bonusGroup:
                      id: '320923'
                      offerId: 856882
                      offerStartDate: '2022-07-04'
                      segmentId: 320923
                      segmentDescription: Alle Adobe
                      bonusStartDate: '2022-07-04'
                      bonusEndDate: '2022-07-10'
                      bonusType: PO
                      promotionType: PERSONAL
                      segmentType: BBOX
                      discountDescription: 1.50 KORTING
                      images:
                        - width: 200
                          height: 200
                          url: >-
                            https://static.ah.nl/dam/product/AHI_434d50313936303131?revLabel=5&rendition=200x200_JPG_Q85&fileType=binary
                        - width: 400
                          height: 400
                          url: >-
                            https://static.ah.nl/dam/product/AHI_434d50313936303131?revLabel=5&rendition=400x400_JPG_Q85&fileType=binary
                        - width: 800
                          height: 800
                          url: >-
                            https://static.ah.nl/dam/product/AHI_434d50313936303131?revLabel=5&rendition=800x800_JPG_Q90&fileType=binary
                      category: Extra online aanbiedingen
                      future: false
                      shopType: AH
                      salesUnitSize: Fles 0.75 liter
                      exampleFromPrice: 6.65
                      exampleForPrice: 5.15
                      exampleHasListPrice: false
                      isStapelBonus: false
                      extraDescriptions: []
                      activationStatus: ACTIVATABLE
                sectionImage: []
                maxActivations: 5
  /mobile-services/bonuspage/v1/activate/{offerId}:
    patch:
      tags:
        - Bonus > Bonusbox
      summary: Activate item
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                segmentId:
                  type: string
                  example: '{segmentId}'
                startDate:
                  type: string
                  example: '2022-07-04'
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/x-www-form-urlencoded; charset=utf-8
        - name: offerId
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
            Vary:
              schema:
                type: string
                example: Accept-Encoding
            X-Content-Type-Options:
              schema:
                type: string
                example: nosniff
            X-XSS-Protection:
              schema:
                type: string
                example: 1; mode=block
            X-Frame-Options:
              schema:
                type: string
                example: DENY
            X-Correlation-Id:
              schema:
                type: string
                example: 2a6f6338-c072-4ec5-9db1-0b7d22228d3b
            Content-Encoding:
              schema:
                type: string
                example: gzip
            Expires:
              schema:
                type: string
                example: Sat, 09 Jul 2022 18:37:19 GMT
            Cache-Control:
              schema:
                type: string
                example: max-age=0, no-cache, no-store
            Pragma:
              schema:
                type: string
                example: no-cache
            Date:
              schema:
                type: string
                example: Sat, 09 Jul 2022 18:37:19 GMT
            Content-Length:
              schema:
                type: integer
                example: '501'
            Strict-Transport-Security:
              schema:
                type: string
                example: max-age=31536000 ; includeSubDomains
            Set-Cookie:
              schema:
                type: string
                example: >-
                  bm_sv=D666C07601F4F3122B675A515050EDA6~YAAQVfBuaMhP3t2BAQAApXhA5BB6gsCVNMapP6KGnFKn9GNhp6/PhuUuFZIYkl+ZxXf5hz3uMTbPxauz7cAgJLxuBMynlDN0LT3bA0f6EjKddCb6fksAJDnj6KXZvRt0evDCMWg6ke/QiTf9ByKPmneV3wtHQSG9OaKqLKjbz4s3NHrCOwx7UUNQb0gg0MukqXKOPRtJmEL8uyCPjrEqAFeMm6/J7QT/q3hqIMsK5PKWSOS6xj3iJ1YCyCPA5RIS~1;
                  Domain=.api.ah.nl; Path=/; Expires=Sat, 09 Jul 2022 19:45:08
                  GMT; Max-Age=4069; Secure
            Connection:
              schema:
                type: string
                example: keep-alive
          content:
            application/json:
              schema:
                type: object
              examples:
                example-0:
                  summary: Activate item
                  value:
                    bonusGroup:
                      id: '495107'
                      offerId: 926549
                      offerStartDate: '2022-07-04'
                      segmentId: 495107
                      segmentDescription: Alle Andrélon, Dove, Axe en Rexona
                      bonusStartDate: '2022-07-04'
                      bonusEndDate: '2022-07-10'
                      bonusType: PO
                      promotionType: PERSONAL
                      segmentType: BBOX
                      subtitle: + 2 handdoek spaarzegels
                      discountDescription: 4 VOOR 10.00
                      images:
                        - width: 200
                          height: 200
                          url: >-
                            https://static.ah.nl/mam/bonus/AHMAM_PRD566201?rendition=200px&fileType=binary
                        - width: 708
                          height: 708
                          url: >-
                            https://static.ah.nl/mam/bonus/AHMAM_PRD566201?rendition=708px&fileType=binary
                      category: Drogisterij
                      future: false
                      shopType: AH
                      salesUnitSize: 4 verpakkingen naar keuze
                      exampleFromPrice: 18.36
                      exampleForPrice: 10
                      exampleHasListPrice: false
                      isStapelBonus: false
                      extraDescriptions:
                        - + 2 extra Handdoekzegels
                      activationStatus: ACTIVATED
                example-1:
                  summary: Activate item
                  value:
                    bonusGroup:
                      id: '490465'
                      offerId: 925130
                      offerStartDate: '2022-07-04'
                      segmentId: 490465
                      segmentDescription: Alle Bella Napoli
                      bonusStartDate: '2022-07-04'
                      bonusEndDate: '2022-07-10'
                      bonusType: PO
                      promotionType: PERSONAL
                      segmentType: BBOX
                      discountDescription: 2 VOOR 7.00
                      images:
                        - width: 200
                          height: 200
                          url: >-
                            https://static.ah.nl/dam/product/AHI_43545239373231343933?revLabel=3&rendition=200x200_JPG_Q85&fileType=binary
                        - width: 400
                          height: 400
                          url: >-
                            https://static.ah.nl/dam/product/AHI_43545239373231343933?revLabel=3&rendition=400x400_JPG_Q85&fileType=binary
                        - width: 800
                          height: 800
                          url: >-
                            https://static.ah.nl/dam/product/AHI_43545239373231343933?revLabel=3&rendition=800x800_JPG_Q90&fileType=binary
                      category: Extra online aanbiedingen
                      future: false
                      shopType: AH
                      salesUnitSize: 2 verpakkingen
                      exampleFromPrice: 8.58
                      exampleForPrice: 7
                      exampleHasListPrice: false
                      isStapelBonus: false
                      extraDescriptions: []
                      activationStatus: ACTIVATED
  /mobile-services/bonuspage/v2/section/personal:
    get:
      tags:
        - Bonus
      summary: Personal Bonus
      description: Items that are discounted for your Bonuskaart only
      parameters:
        - name: date
          in: query
          schema:
            type: string
          description: Date should be a Monday
          example: '2022-07-04'
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
            Vary:
              schema:
                type: string
                example: Accept-Encoding
            X-Content-Type-Options:
              schema:
                type: string
                example: nosniff
            X-XSS-Protection:
              schema:
                type: string
                example: 1; mode=block
            X-Frame-Options:
              schema:
                type: string
                example: DENY
            X-Correlation-Id:
              schema:
                type: string
                example: fe858488-92be-4388-b2a0-397a9ebc4f21
            Content-Encoding:
              schema:
                type: string
                example: gzip
            Expires:
              schema:
                type: string
                example: Sun, 10 Jul 2022 10:01:54 GMT
            Cache-Control:
              schema:
                type: string
                example: max-age=0, no-cache, no-store
            Pragma:
              schema:
                type: string
                example: no-cache
            Date:
              schema:
                type: string
                example: Sun, 10 Jul 2022 10:01:54 GMT
            Content-Length:
              schema:
                type: integer
                example: '919'
            Strict-Transport-Security:
              schema:
                type: string
                example: max-age=31536000 ; includeSubDomains
            Set-Cookie:
              schema:
                type: string
                example: >-
                  bm_sv=E44B0E21A9D8CED43F0BB3A733B2BB7A~YAAQlvBuaBid8saBAQAAAvWO5xDduC2W/IcRuoGy0VwkzijKaAoXey1L843CB5AYo0KWH6bo9GYQFifOqc37OCzJKJnRnARmA4viav8XIt9PDYSg/A0DFBNUBTgdrQrk/aCDPICF0OUNr3+zhYWHQhL4u/K1WfJnaOiR2Cfr551XCLsmc9Ua6jEryemDbvS3DCwHdxQmXJ1IXH6OvKAyMldMP6iuarrLGfRqb9MlbRk/OLdMIw3QqLIK41Lb9gX6~1;
                  Domain=.api.ah.nl; Path=/; Expires=Sun, 10 Jul 2022 11:52:10
                  GMT; Max-Age=6616; Secure
            Connection:
              schema:
                type: string
                example: keep-alive
          content:
            application/json:
              schema:
                type: object
              example:
                sectionType: PO
                sectionDescription: Persoonlijke Bonus
                bonusGroupOrProducts:
                  - bonusGroup:
                      id: '495107'
                      offerId: 926549
                      offerStartDate: '2022-07-04'
                      segmentId: 495107
                      segmentDescription: Alle Andrélon, Dove, Axe en Rexona
                      bonusStartDate: '2022-07-04'
                      bonusEndDate: '2022-07-10'
                      bonusType: PO
                      promotionType: PERSONAL
                      segmentType: BBOX
                      subtitle: + 2 handdoek spaarzegels
                      discountDescription: 4 VOOR 10.00
                      images:
                        - width: 200
                          height: 200
                          url: >-
                            https://static.ah.nl/mam/bonus/AHMAM_PRD566201?rendition=200px&fileType=binary
                        - width: 708
                          height: 708
                          url: >-
                            https://static.ah.nl/mam/bonus/AHMAM_PRD566201?rendition=708px&fileType=binary
                      category: Drogisterij
                      future: false
                      shopType: AH
                      salesUnitSize: 4 verpakkingen naar keuze
                      bonusPeriodDescription: vandaag
                      exampleFromPrice: 18.36
                      exampleForPrice: 10
                      exampleHasListPrice: false
                      isStapelBonus: false
                      extraDescriptions:
                        - + 2 extra Handdoekzegels
                      activationStatus: ACTIVATED
                  - bonusGroup:
                      id: '335282'
                      offerId: 866463
                      offerStartDate: '2022-07-04'
                      segmentId: 335282
                      segmentDescription: Alle Go-Tan kokosmelk en santen
                      bonusStartDate: '2022-07-04'
                      bonusEndDate: '2022-07-10'
                      bonusType: PO
                      promotionType: PERSONAL
                      segmentType: BBOX
                      discountDescription: 15% KORTING
                      images:
                        - width: 200
                          height: 200
                          url: >-
                            https://static.ah.nl/dam/product/AHI_43545239363539383636?revLabel=1&rendition=200x200_JPG_Q85&fileType=binary
                        - width: 400
                          height: 400
                          url: >-
                            https://static.ah.nl/dam/product/AHI_43545239363539383636?revLabel=1&rendition=400x400_JPG_Q85&fileType=binary
                        - width: 800
                          height: 800
                          url: >-
                            https://static.ah.nl/dam/product/AHI_43545239363539383636?revLabel=1&rendition=800x800_JPG_Q90&fileType=binary
                      category: Extra online aanbiedingen
                      future: false
                      shopType: AH
                      salesUnitSize: Per verpakking
                      bonusPeriodDescription: vandaag
                      exampleFromPrice: 2.19
                      exampleForPrice: 1.86
                      exampleHasListPrice: false
                      isStapelBonus: false
                      extraDescriptions: []
                      activationStatus: ACTIVATED
                  - bonusGroup:
                      id: '482459'
                      offerId: 922071
                      offerStartDate: '2022-07-04'
                      segmentId: 482459
                      segmentDescription: Alle Wasa zuurdesem 210-235 gram
                      bonusStartDate: '2022-07-04'
                      bonusEndDate: '2022-07-10'
                      bonusType: PO
                      promotionType: PERSONAL
                      segmentType: BBOX
                      discountDescription: 2e HALVE PRIJS
                      images:
                        - width: 200
                          height: 200
                          url: >-
                            https://static.ah.nl/dam/product/AHI_43545239353533303939?revLabel=2&rendition=200x200_JPG_Q85&fileType=binary
                        - width: 400
                          height: 400
                          url: >-
                            https://static.ah.nl/dam/product/AHI_43545239353533303939?revLabel=2&rendition=400x400_JPG_Q85&fileType=binary
                        - width: 800
                          height: 800
                          url: >-
                            https://static.ah.nl/dam/product/AHI_43545239353533303939?revLabel=2&rendition=800x800_JPG_Q90&fileType=binary
                      category: Extra online aanbiedingen
                      future: false
                      shopType: AH
                      salesUnitSize: 2 verpakkingen
                      bonusPeriodDescription: vandaag
                      exampleFromPrice: 3.18
                      exampleForPrice: 2.39
                      exampleHasListPrice: false
                      isStapelBonus: false
                      extraDescriptions: []
                      activationStatus: ACTIVATED
                  - bonusGroup:
                      id: '490465'
                      offerId: 925130
                      offerStartDate: '2022-07-04'
                      segmentId: 490465
                      segmentDescription: Alle Bella Napoli
                      bonusStartDate: '2022-07-04'
                      bonusEndDate: '2022-07-10'
                      bonusType: PO
                      promotionType: PERSONAL
                      segmentType: BBOX
                      discountDescription: 2 VOOR 7.00
                      images:
                        - width: 200
                          height: 200
                          url: >-
                            https://static.ah.nl/dam/product/AHI_43545239373231343933?revLabel=3&rendition=200x200_JPG_Q85&fileType=binary
                        - width: 400
                          height: 400
                          url: >-
                            https://static.ah.nl/dam/product/AHI_43545239373231343933?revLabel=3&rendition=400x400_JPG_Q85&fileType=binary
                        - width: 800
                          height: 800
                          url: >-
                            https://static.ah.nl/dam/product/AHI_43545239373231343933?revLabel=3&rendition=800x800_JPG_Q90&fileType=binary
                      category: Extra online aanbiedingen
                      future: false
                      shopType: AH
                      salesUnitSize: 2 verpakkingen
                      bonusPeriodDescription: vandaag
                      exampleFromPrice: 8.58
                      exampleForPrice: 7
                      exampleHasListPrice: false
                      isStapelBonus: false
                      extraDescriptions: []
                      activationStatus: ACTIVATED
                sectionImage: []
  /mobile-services/bonuspage/v2/section:
    get:
      tags:
        - Bonus
      summary: Bonus per category
      description: Bonus discounts per category
      parameters:
        - name: category
          in: query
          schema:
            type: string
          description: |-
            Pick one, any one

            Aardappel%2C%20groente%2C%20fruit
            Salades%2C%20pizza%2C%20maaltijden
            Vlees%2C%20kip%2C%20vis%2C%20vega
            Kaas%2C%20vleeswaren%2C%20tapas
            Zuivel%2C%20plantaardig%20en%20eieren
            Bakkerij%20en%20banket
            Ontbijtgranen%20en%20beleg
            Snoep%2C%20koek%2C%20chips%20en%20chocolade
            Tussendoortjes
            Frisdrank%2C%20sappen%2C%20koffie%2C%20thee
            Wijn%20en%20bubbels
            Bier%20en%20aperitieven
            Pasta%2C%20rijst%20en%20wereldkeuken
            Soepen%2C%20sauzen%2C%20kruiden%2C%20olie
            Diepvries
            Drogisterij
            Baby%20en%20kind
            Huishouden
            Huisdier
            Koken%2C%20tafelen%2C%20vrije%20tijd
          example: Aardappel, groente, fruit
        - name: date
          in: query
          schema:
            type: string
          description: Should be a Monday
          example: '2022-07-04'
        - name: promotionType
          in: query
          schema:
            type: string
          description: >+
            May also be one of the following. If you use these, omit the
            `catagory` parameter


            - ETOS

            - GALL

            - GALLCARD

            - AHONLINE

          example: NATIONAL
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
            Vary:
              schema:
                type: string
                example: Accept-Encoding
            X-Content-Type-Options:
              schema:
                type: string
                example: nosniff
            X-XSS-Protection:
              schema:
                type: string
                example: 1; mode=block
            X-Frame-Options:
              schema:
                type: string
                example: DENY
            X-Correlation-Id:
              schema:
                type: string
                example: 47937b93-a4b9-426f-b32a-779890e8ba39
            Content-Encoding:
              schema:
                type: string
                example: gzip
            Expires:
              schema:
                type: string
                example: Sun, 10 Jul 2022 09:52:10 GMT
            Cache-Control:
              schema:
                type: string
                example: max-age=0, no-cache, no-store
            Pragma:
              schema:
                type: string
                example: no-cache
            Date:
              schema:
                type: string
                example: Sun, 10 Jul 2022 09:52:10 GMT
            Content-Length:
              schema:
                type: integer
                example: '4643'
            Strict-Transport-Security:
              schema:
                type: string
                example: max-age=31536000 ; includeSubDomains
            Set-Cookie:
              schema:
                type: string
                example: >-
                  bm_sv=E44B0E21A9D8CED43F0BB3A733B2BB7A~YAAQlvBuaANF8saBAQAAPQqG5xAcPbGGhX/QdmcJ6EC1WDwvFgYFzzBQK8ZY1DaSl99PX83XLUUqWbV1r6U/VvNVuTA/Hyq7w7+lDfB3iS9aYAhQRfmeLXw65tZUZ3OyFtUE+5MKMgTjduS/mSMKIhlbGyeJGqqqAfXYo7C3GYFZM/IiBELCRtPDbSL1m6jEH9bA+KUoXuFzLLwgNo8qfFsgNiwMj4taKvvkkRsCMXA6alMEtRoKUmnxIspXqUo=~1;
                  Domain=.api.ah.nl; Path=/; Expires=Sun, 10 Jul 2022 11:52:10
                  GMT; Max-Age=7200; Secure
            Connection:
              schema:
                type: string
                example: keep-alive
          content:
            application/json:
              schema:
                type: object
              examples:
                example-0:
                  summary: Bonus per category
                  value:
                    sectionType: AH
                    sectionDescription: Aardappel, groente, fruit
                    bonusGroupOrProducts:
                      - bonusGroup:
                          id: '495291'
                          offerId: 926646
                          offerStartDate: '2022-07-04'
                          segmentId: 495291
                          segmentDescription: >-
                            AH Blauwe bessen 300 gram of Sweet Eve frambozen 225
                            gram
                          bonusStartDate: '2022-07-04'
                          bonusEndDate: '2022-07-10'
                          bonusType: AH
                          promotionType: NATIONAL
                          segmentType: AH
                          discountDescription: 2 STAPELEN VOOR 35% KORTING
                          images:
                            - width: 200
                              height: 200
                              url: >-
                                https://static.ah.nl/mam/bonus/AHMAM_PRD566367?rendition=200px&fileType=binary
                            - width: 708
                              height: 708
                              url: >-
                                https://static.ah.nl/mam/bonus/AHMAM_PRD566367?rendition=708px&fileType=binary
                          category: Aardappel, groente, fruit
                          future: false
                          shopType: AH
                          bonusPeriodDescription: vandaag
                          exampleFromPrice: 7.98
                          exampleForPrice: 5.18
                          exampleHasListPrice: false
                          isStapelBonus: true
                          extraDescriptions:
                            - 1 stuk 25% korting
                            - 2 stuks 35% korting
                      - bonusGroup:
                          id: '507169'
                          offerId: 930647
                          offerStartDate: '2022-07-04'
                          segmentId: 507169
                          segmentDescription: AH Courgette en aubergine
                          bonusStartDate: '2022-07-04'
                          bonusEndDate: '2022-07-10'
                          bonusType: AH
                          promotionType: NATIONAL
                          segmentType: AH
                          discountDescription: 2 VOOR 1.00
                          images:
                            - width: 200
                              height: 200
                              url: >-
                                https://static.ah.nl/mam/bonus/AHMAM_PRD566386?rendition=200px&fileType=binary
                            - width: 708
                              height: 708
                              url: >-
                                https://static.ah.nl/mam/bonus/AHMAM_PRD566386?rendition=708px&fileType=binary
                          category: Aardappel, groente, fruit
                          future: false
                          shopType: AH
                          salesUnitSize: Los
                          bonusPeriodDescription: vandaag
                          exampleForPrice: 1
                          exampleHasListPrice: false
                          isStapelBonus: false
                          extraDescriptions: []
                      - product:
                          webshopId: 107685
                          hqId: 534133
                          title: AH Romaatje
                          brand: AH
                          isSample: false
                          salesUnitSize: 250 g
                          unitPriceDescription: normale prijs per kg €6.36
                          images:
                            - width: 200
                              height: 200
                              url: >-
                                https://static.ah.nl/mam/bonus/AHMAM_PRD566387?rendition=200px&fileType=binary
                            - width: 708
                              height: 708
                              url: >-
                                https://static.ah.nl/mam/bonus/AHMAM_PRD566387?rendition=708px&fileType=binary
                          segmentId: '505978'
                          bonusSegmentId: 505978
                          offerId: 930359
                          bonusSegmentDescription: AH Romaatje 250 gram
                          extraDescriptions: []
                          discountType: AH
                          promotionType: NATIONAL
                          segmentType: AH
                          isInfiniteBonus: false
                          bonusMechanism: VOOR 0.99
                          bonusStartDate: '2022-07-04'
                          bonusEndDate: '2022-07-10'
                          bonusPeriodDescription: vandaag
                          hasListPrice: false
                          currentPrice: 0.99
                          isBonusPrice: true
                          isStapelBonus: false
                          isBonus: true
                          shopType: AH
                          orderAvailabilityStatus: IN_ASSORTMENT
                          availableOnline: true
                          isOrderable: true
                          mainCategory: Aardappel, groente, fruit
                          subCategory: Verse roma tomaten
                          subCategoryId: 1782
                          propertyIcons:
                            - lokaal
                          properties:
                            sp_include_intolerance_geen_melk:
                              - Geen melk
                            sp_include_intolerance_geen_kreeftachtigen:
                              - Geen kreeftachtigen (schaaldieren)
                            sp_include_intolerance_geen_soja:
                              - Geen soja
                            sp_include_intolerance_geen_vis:
                              - Geen vis
                            sp_include_dieet_laag_suiker:
                              - Laag suiker
                            da_taste:
                              - Tomaat
                            sp_include_intolerance_geen_lupine:
                              - Geen lupine
                            sp_include_intolerance_geen_pindas:
                              - Geen pinda's
                            np_lokaal:
                              - nederland
                            sp_include_intolerance_geen_mosterd:
                              - Geen mosterd
                            sp_include_intolerance_geen_lactose:
                              - Geen lactose
                            nutriscore:
                              - A
                            sp_include_intolerance_geen_sulfiet:
                              - Geen sulfiet
                            da_salted_or_not_salted:
                              - Ongezouten
                            sp_include_intolerance_geen_sesam:
                              - Geen sesam
                            sp_include_dieet_laag_vet:
                              - Laag vet
                            sp_include_dieet_laag_zout:
                              - Laag zout
                            da_free_of_sugar:
                              - Nee
                            da_store_department:
                              - Vers
                            sp_exclude_dieet_biologisch:
                              - Biologisch
                            sp_include_intolerance_geen_schelpdieren:
                              - Geen schelpdieren (schaaldieren)
                            sp_exclude_dieet_halal:
                              - Halal
                            sp_include_intolerance_geen_eieren:
                              - Geen eieren
                            sp_include_intolerance_geen_noten:
                              - Geen noten
                            np_vorm:
                              - heel
                            da_accreditation:
                              - NATUUR_BOER
                            sp_include_intolerance_geen_selderij:
                              - Geen selderij
                            sp_include_intolerance_geen_gluten:
                              - Geen gluten
                          isPreviouslyBought: false
                          nix18: false
                          descriptionHighlights: >-
                            <p>Romaatjes hebben een volzoete en aromatische
                            smaak en een stevige bite. Lekker als makkelijke en
                            gezonde snack of in een salade.</p><p><ul><li>Smaak:
                            romaatje heeft een volzoete en aromtische
                            smaak.</li><li>Bewaren: buiten de
                            koelkast.</li><li>Gezondheid: van nature bron van
                            vitamine C. Vitamine C verhoogt de
                            ijzeropname</li></ul></p>
                          descriptionFull: ''
                      - bonusGroup:
                          id: '495271'
                          offerId: 926636
                          offerStartDate: '2022-07-04'
                          segmentId: 495271
                          segmentDescription: Alle AH Slamelanges*
                          bonusStartDate: '2022-07-04'
                          bonusEndDate: '2022-07-10'
                          bonusType: AH
                          promotionType: NATIONAL
                          segmentType: AH
                          discountDescription: VOOR 0.99
                          images:
                            - width: 200
                              height: 200
                              url: >-
                                https://static.ah.nl/mam/bonus/AHMAM_PRD566368?rendition=200px&fileType=binary
                            - width: 708
                              height: 708
                              url: >-
                                https://static.ah.nl/mam/bonus/AHMAM_PRD566368?rendition=708px&fileType=binary
                          category: Aardappel, groente, fruit
                          future: false
                          shopType: AH
                          salesUnitSize: Bijv. Rucola slamelange - Zak 75 gram
                          bonusPeriodDescription: vandaag
                          exampleFromPrice: 1.19
                          exampleForPrice: 0.99
                          exampleHasListPrice: false
                          isStapelBonus: false
                          extraDescriptions:
                            - '*M.u.v. grootverpakkingen en Biologisch'
                      - product:
                          webshopId: 80585
                          hqId: 521838
                          title: AH Witte druiven pitloos
                          brand: AH
                          isSample: false
                          salesUnitSize: 500 g
                          unitPriceDescription: normale prijs per kg €4.78
                          images:
                            - width: 200
                              height: 200
                              url: >-
                                https://static.ah.nl/dam/product/AHI_43545239383730303538?revLabel=1&rendition=200x200_JPG_Q85&fileType=binary
                            - width: 400
                              height: 400
                              url: >-
                                https://static.ah.nl/dam/product/AHI_43545239383730303538?revLabel=1&rendition=400x400_JPG_Q85&fileType=binary
                            - width: 800
                              height: 800
                              url: >-
                                https://static.ah.nl/dam/product/AHI_43545239383730303538?revLabel=1&rendition=800x800_JPG_Q90&fileType=binary
                          segmentId: '505971'
                          bonusSegmentId: 505971
                          offerId: 930349
                          bonusSegmentDescription: AH Witte druiven pitloos
                          extraDescriptions: []
                          discountType: AH
                          promotionType: NATIONAL
                          segmentType: AH
                          isInfiniteBonus: false
                          bonusMechanism: VOOR 1.99
                          bonusStartDate: '2022-07-04'
                          bonusEndDate: '2022-07-10'
                          bonusPeriodDescription: vandaag
                          priceBeforeBonus: 2.39
                          hasListPrice: false
                          currentPrice: 1.99
                          isBonusPrice: true
                          isStapelBonus: false
                          isBonus: true
                          shopType: AH
                          orderAvailabilityStatus: IN_ASSORTMENT
                          availableOnline: true
                          isOrderable: true
                          mainCategory: Aardappel, groente, fruit
                          subCategory: Verse witte druiven
                          subCategoryId: 5123
                          propertyIcons: []
                          properties:
                            sp_include_intolerance_geen_melk:
                              - Geen melk
                            sp_include_intolerance_geen_kreeftachtigen:
                              - Geen kreeftachtigen (schaaldieren)
                            sp_include_intolerance_geen_soja:
                              - Geen soja
                            sp_include_intolerance_geen_vis:
                              - Geen vis
                            da_taste:
                              - Druif
                            sp_include_intolerance_geen_lupine:
                              - Geen lupine
                            sp_include_intolerance_geen_pindas:
                              - Geen pinda's
                            da_processing_type:
                              - Pitloos
                            sp_include_intolerance_geen_mosterd:
                              - Geen mosterd
                            sp_include_intolerance_geen_lactose:
                              - Geen lactose
                            nutriscore:
                              - A
                            sp_include_intolerance_geen_sulfiet:
                              - Geen sulfiet
                            da_salted_or_not_salted:
                              - Ongezouten
                            sp_include_intolerance_geen_sesam:
                              - Geen sesam
                            sp_include_dieet_laag_vet:
                              - Laag vet
                            sp_include_dieet_laag_zout:
                              - Laag zout
                            da_free_of_sugar:
                              - Nee
                            da_store_department:
                              - Near Food
                            sp_exclude_dieet_biologisch:
                              - Biologisch
                            sp_include_intolerance_geen_schelpdieren:
                              - Geen schelpdieren (schaaldieren)
                            sp_exclude_dieet_halal:
                              - Halal
                            sp_exclude_dieet_laag_suiker:
                              - Laag suiker
                            da_type_of_processed_food:
                              - Pitloos
                            sp_include_intolerance_geen_eieren:
                              - Geen eieren
                            sp_include_intolerance_geen_noten:
                              - Geen noten
                            da_colour:
                              - Wit
                            sp_include_intolerance_geen_selderij:
                              - Geen selderij
                            np_verbluffen:
                              - verbluffend goedkoop
                            sp_include_intolerance_geen_gluten:
                              - Geen gluten
                          isPreviouslyBought: false
                          nix18: false
                          descriptionHighlights: >-
                            <p>Witte pitloze druiven hebben een frisse, knappige
                            en zoete smaak. Deze druiven zijn heerlijk om uit de
                            hand te eten, maar ook lekker om te gebruiken in een
                            fruitsalade of smoothie.</p><p><ul><li>Smaak: witte
                            pitloze druif heeft een frisse, knapperige en zoete
                            smaak.</li><li>Bewaren: In de
                            koelkast.</li><li>Gezondheid: Bron van
                            vezels</li></ul></p>
                          descriptionFull: ''
                      - bonusGroup:
                          id: '506900'
                          offerId: 930699
                          offerStartDate: '2022-07-04'
                          segmentId: 506900
                          segmentDescription: AH Nectarines, perziken of wilde perziken 1 kilo
                          bonusStartDate: '2022-07-04'
                          bonusEndDate: '2022-07-10'
                          bonusType: AH
                          promotionType: NATIONAL
                          segmentType: AH
                          discountDescription: VOOR 2.49
                          images:
                            - width: 200
                              height: 200
                              url: >-
                                https://static.ah.nl/mam/bonus/AHMAM_PRD566388?rendition=200px&fileType=binary
                            - width: 708
                              height: 708
                              url: >-
                                https://static.ah.nl/mam/bonus/AHMAM_PRD566388?rendition=708px&fileType=binary
                          category: Aardappel, groente, fruit
                          future: false
                          shopType: AH
                          salesUnitSize: Per schaal
                          bonusPeriodDescription: vandaag
                          exampleForPrice: 2.49
                          exampleHasListPrice: false
                          isStapelBonus: false
                          extraDescriptions: []
                      - product:
                          webshopId: 194575
                          hqId: 600190
                          title: AH Nederlandse kersen
                          brand: AH
                          isSample: false
                          salesUnitSize: 400 g
                          unitPriceDescription: normale prijs per kg €9.98
                          images:
                            - width: 200
                              height: 200
                              url: >-
                                https://static.ah.nl/dam/product/AHI_43545239383737333034?revLabel=2&rendition=200x200_JPG_Q85&fileType=binary
                            - width: 400
                              height: 400
                              url: >-
                                https://static.ah.nl/dam/product/AHI_43545239383737333034?revLabel=2&rendition=400x400_JPG_Q85&fileType=binary
                            - width: 800
                              height: 800
                              url: >-
                                https://static.ah.nl/dam/product/AHI_43545239383737333034?revLabel=2&rendition=800x800_JPG_Q90&fileType=binary
                          segmentId: '505976'
                          bonusSegmentId: 505976
                          offerId: 930357
                          bonusSegmentDescription: AH Nederlandse kersen
                          extraDescriptions: []
                          discountType: AH
                          promotionType: NATIONAL
                          segmentType: AH
                          isInfiniteBonus: false
                          bonusMechanism: VOOR 3.29
                          bonusStartDate: '2022-07-04'
                          bonusEndDate: '2022-07-10'
                          bonusPeriodDescription: vandaag
                          priceBeforeBonus: 3.99
                          hasListPrice: false
                          currentPrice: 3.29
                          isBonusPrice: true
                          isStapelBonus: false
                          isBonus: true
                          shopType: AH
                          orderAvailabilityStatus: IN_ASSORTMENT
                          availableOnline: true
                          isOrderable: true
                          mainCategory: Aardappel, groente, fruit
                          subCategory: Kersen (vers)
                          subCategoryId: 5801
                          propertyIcons:
                            - lokaal
                          properties:
                            sp_include_intolerance_geen_melk:
                              - Geen melk
                            sp_include_intolerance_geen_kreeftachtigen:
                              - Geen kreeftachtigen (schaaldieren)
                            sp_include_intolerance_geen_soja:
                              - Geen soja
                            sp_include_intolerance_geen_vis:
                              - Geen vis
                            sp_include_intolerance_geen_lupine:
                              - Geen lupine
                            sp_include_intolerance_geen_pindas:
                              - Geen pinda's
                            np_lokaal:
                              - nederland
                            sp_include_intolerance_geen_mosterd:
                              - Geen mosterd
                            sp_include_intolerance_geen_lactose:
                              - Geen lactose
                            nutriscore:
                              - A
                            sp_include_intolerance_geen_sulfiet:
                              - Geen sulfiet
                            da_salted_or_not_salted:
                              - Ongezouten
                            sp_include_intolerance_geen_sesam:
                              - Geen sesam
                            sp_include_dieet_laag_vet:
                              - Laag vet
                            sp_include_dieet_laag_zout:
                              - Laag zout
                            da_free_of_sugar:
                              - Nee
                            da_store_department:
                              - Vers
                            sp_exclude_dieet_biologisch:
                              - Biologisch
                            sp_include_intolerance_geen_schelpdieren:
                              - Geen schelpdieren (schaaldieren)
                            sp_exclude_dieet_halal:
                              - Halal
                            sp_exclude_dieet_laag_suiker:
                              - Laag suiker
                            sp_include_intolerance_geen_eieren:
                              - Geen eieren
                            sp_include_intolerance_geen_noten:
                              - Geen noten
                            sp_include_intolerance_geen_selderij:
                              - Geen selderij
                            da_regionalism:
                              - Hollands
                            sp_include_intolerance_geen_gluten:
                              - Geen gluten
                          isPreviouslyBought: false
                          nix18: false
                          descriptionHighlights: >-
                            <p>Het is weer tijd voor kersen! Deze kersen zijn
                            onweerstaanbaar zoet van smaak. Ideaal om zo te eten
                            of mee te nemen in de picknickmand. De kleur van de
                            schil van deze kleine, ronde biologische
                            steenvruchten varieert van diep rood tot bijna
                            zwart.</p><p><ul><li>Deze kersen hebben een sappige,
                            zoete smaak</li><li>Bewaren: na aankoop in de
                            koelkast</li></ul></p>
                          descriptionFull: ''
                      - product:
                          webshopId: 4099
                          hqId: 20952
                          title: AH IJsbergsla
                          brand: AH
                          isSample: false
                          salesUnitSize: per krop
                          images:
                            - width: 200
                              height: 200
                              url: >-
                                https://static.ah.nl/mam/bonus/AHMAM_PRD566391?rendition=200px&fileType=binary
                            - width: 708
                              height: 708
                              url: >-
                                https://static.ah.nl/mam/bonus/AHMAM_PRD566391?rendition=708px&fileType=binary
                          segmentId: '505979'
                          bonusSegmentId: 505979
                          offerId: 930360
                          bonusSegmentDescription: AH IJsbergsla
                          extraDescriptions: []
                          discountType: AH
                          promotionType: NATIONAL
                          segmentType: AH
                          isInfiniteBonus: false
                          bonusMechanism: VOOR 0.59
                          bonusStartDate: '2022-07-04'
                          bonusEndDate: '2022-07-10'
                          bonusPeriodDescription: vandaag
                          hasListPrice: false
                          currentPrice: 0.59
                          isBonusPrice: true
                          isStapelBonus: false
                          isBonus: true
                          shopType: AH
                          orderAvailabilityStatus: IN_ASSORTMENT
                          availableOnline: true
                          isOrderable: true
                          mainCategory: Aardappel, groente, fruit
                          subCategory: IJsbergsla (krop)
                          subCategoryId: 9689
                          propertyIcons:
                            - goedkoopje
                            - lokaal
                          properties:
                            sp_include_intolerance_geen_melk:
                              - Geen melk
                            sp_include_intolerance_geen_kreeftachtigen:
                              - Geen kreeftachtigen (schaaldieren)
                            sp_include_intolerance_geen_soja:
                              - Geen soja
                            sp_include_intolerance_geen_vis:
                              - Geen vis
                            sp_include_dieet_laag_suiker:
                              - Laag suiker
                            sp_include_intolerance_geen_lupine:
                              - Geen lupine
                            sp_include_intolerance_geen_pindas:
                              - Geen pinda's
                            np_lokaal:
                              - nederland
                            sp_include_intolerance_geen_mosterd:
                              - Geen mosterd
                            sp_include_intolerance_geen_lactose:
                              - Geen lactose
                            nutriscore:
                              - A
                            sp_include_intolerance_geen_sulfiet:
                              - Geen sulfiet
                            da_salted_or_not_salted:
                              - Ongezouten
                            sp_include_intolerance_geen_sesam:
                              - Geen sesam
                            sp_include_dieet_laag_vet:
                              - Laag vet
                            sp_include_dieet_laag_zout:
                              - Laag zout
                            da_free_of_sugar:
                              - Nee
                            da_store_department:
                              - Vers
                            sp_exclude_dieet_biologisch:
                              - Biologisch
                            sp_include_intolerance_geen_schelpdieren:
                              - Geen schelpdieren (schaaldieren)
                            sp_exclude_dieet_halal:
                              - Halal
                            np_goedkoopje:
                              - prijsfavoriet
                            sp_include_intolerance_geen_eieren:
                              - Geen eieren
                            sp_include_intolerance_geen_noten:
                              - Geen noten
                            np_vorm:
                              - heel
                            sp_include_intolerance_geen_selderij:
                              - Geen selderij
                            np_verbluffen:
                              - verbluffend goedkoop
                            sp_include_intolerance_geen_gluten:
                              - Geen gluten
                          isPreviouslyBought: false
                          nix18: false
                          descriptionHighlights: >-
                            <p>Ijsbergsla heeft stevige, knapperige, frisse
                            bladeren. Heerlijk om een salade mee te maken, op
                            een sandwich of als gezonde aanvulling in een wrap.
                            Elke dag vers van onze teler.</p><p><ul><li>Smaak:
                            ijsbergsla heeft een friss, knapperige, iets zoete
                            smaak.</li><li>Bewaren: In de
                            koelkast.</li></ul></p>
                          descriptionFull: ''
                      - product:
                          webshopId: 129993
                          hqId: 590269
                          title: AH Zoete kleine appeltjes
                          brand: AH
                          isSample: false
                          salesUnitSize: 1 kg
                          unitPriceDescription: normale prijs per kg €2.99
                          images:
                            - width: 200
                              height: 200
                              url: >-
                                https://static.ah.nl/mam/bonus/AHMAM_PRD566365?rendition=200px&fileType=binary
                            - width: 708
                              height: 708
                              url: >-
                                https://static.ah.nl/mam/bonus/AHMAM_PRD566365?rendition=708px&fileType=binary
                          segmentId: '495289'
                          bonusSegmentId: 495289
                          offerId: 926645
                          bonusSegmentDescription: AH Zoete kleine appeltjes 1 kilo
                          extraDescriptions:
                            - 1 stuk voor 2.49
                            - 2 stuks voor 4.00
                          discountType: AH
                          promotionType: NATIONAL
                          segmentType: AH
                          isInfiniteBonus: false
                          bonusMechanism: 2 STAPELEN VOOR 4.00
                          bonusStartDate: '2022-07-04'
                          bonusEndDate: '2022-07-10'
                          bonusPeriodDescription: vandaag
                          priceBeforeBonus: 5.98
                          hasListPrice: false
                          currentPrice: 4
                          isBonusPrice: true
                          isStapelBonus: true
                          isBonus: true
                          shopType: AH
                          orderAvailabilityStatus: IN_ASSORTMENT
                          availableOnline: true
                          isOrderable: true
                          mainCategory: Aardappel, groente, fruit
                          subCategory: Zakken en dozen
                          subCategoryId: 18879
                          propertyIcons: []
                          properties:
                            da_a_taste_experience:
                              - Zoet
                            sp_include_intolerance_geen_melk:
                              - Geen melk
                            sp_include_intolerance_geen_kreeftachtigen:
                              - Geen kreeftachtigen (schaaldieren)
                            sp_include_intolerance_geen_soja:
                              - Geen soja
                            sp_include_intolerance_geen_vis:
                              - Geen vis
                            sp_include_intolerance_geen_lupine:
                              - Geen lupine
                            sp_include_intolerance_geen_pindas:
                              - Geen pinda's
                            sp_include_intolerance_geen_mosterd:
                              - Geen mosterd
                            sp_include_intolerance_geen_lactose:
                              - Geen lactose
                            nutriscore:
                              - A
                            sp_include_intolerance_geen_sulfiet:
                              - Geen sulfiet
                            da_salted_or_not_salted:
                              - Ongezouten
                            sp_include_intolerance_geen_sesam:
                              - Geen sesam
                            sp_include_dieet_laag_vet:
                              - Laag vet
                            sp_include_dieet_laag_zout:
                              - Laag zout
                            da_free_of_sugar:
                              - Nee
                            da_store_department:
                              - Vers
                            sp_exclude_dieet_biologisch:
                              - Biologisch
                            sp_include_intolerance_geen_schelpdieren:
                              - Geen schelpdieren (schaaldieren)
                            sp_exclude_dieet_halal:
                              - Halal
                            np_smaak:
                              - zoet
                            sp_exclude_dieet_laag_suiker:
                              - Laag suiker
                            sp_include_intolerance_geen_eieren:
                              - Geen eieren
                            sp_include_intolerance_geen_noten:
                              - Geen noten
                            np_vorm:
                              - in zak
                            sp_include_intolerance_geen_selderij:
                              - Geen selderij
                            sp_include_intolerance_geen_gluten:
                              - Geen gluten
                          isPreviouslyBought: false
                          nix18: false
                          descriptionHighlights: >-
                            <p>Royal Gala zijn zoete kleine appeltjes: sappig en
                            zoet van smaak. Een echte allemansvriend met een
                            toegankelijke smaak met tonen van
                            nectarine.</p><p><ul><li>Smaak:
                            volzoet</li><li>Bereiden: de appel wassen en
                            eventueel schillen</li><li>Bewaren: appels na
                            aankoop bewaren in de koelkast</li><li>Geschikt
                            voor: snack</li></ul></p>
                          descriptionFull: >-
                            <p> AH Royal Gala is jaarrond verkrijgbaar. Land van
                            oorsprong: Nederland, Frankrijk, Chili, Zuid-Afrika,
                            Brazili&#x00EB;, Itali&#x00EB;, Nieuw-Zeeland  </p>
                      - bonusGroup:
                          id: '495273'
                          offerId: 926637
                          offerStartDate: '2022-07-04'
                          segmentId: 495273
                          segmentDescription: AH Fruitsalades met bonussticker
                          bonusStartDate: '2022-07-04'
                          bonusEndDate: '2022-07-10'
                          bonusType: AH
                          promotionType: NATIONAL
                          segmentType: AH
                          subtitle: Alle varianten
                          discountDescription: 0.50 EURO KORTING
                          images:
                            - width: 200
                              height: 200
                              url: >-
                                https://static.ah.nl/mam/bonus/AHMAM_PRD566366?rendition=200px&fileType=binary
                            - width: 708
                              height: 708
                              url: >-
                                https://static.ah.nl/mam/bonus/AHMAM_PRD566366?rendition=708px&fileType=binary
                          category: Aardappel, groente, fruit
                          future: false
                          shopType: AH
                          salesUnitSize: Bijv. verse ananasstukjes - Schaal 400 gram
                          bonusPeriodDescription: vandaag
                          exampleFromPrice: 3
                          exampleForPrice: 2.5
                          exampleHasListPrice: false
                          isStapelBonus: false
                          extraDescriptions: []
                      - bonusGroup:
                          id: '473909'
                          offerId: 918608
                          offerStartDate: '2022-04-11'
                          segmentId: 473909
                          segmentDescription: AH snoepgroente 175-250 gram
                          bonusStartDate: '2022-04-11'
                          bonusEndDate: '2099-12-31'
                          bonusType: AH
                          promotionType: NATIONAL
                          segmentType: AH
                          discountDescription: 3 VOOR 5.00
                          images:
                            - width: 200
                              height: 200
                              url: >-
                                https://static.ah.nl/mam/bonus/AHMAM_PRD542480?rendition=200px&fileType=binary
                            - width: 708
                              height: 708
                              url: >-
                                https://static.ah.nl/mam/bonus/AHMAM_PRD542480?rendition=708px&fileType=binary
                          category: Aardappel, groente, fruit
                          future: false
[...]
